@font-face {
    font-family:"Love" ;
    src: url("fonts/Mf\ Love\ Song.ttf")format('opentype');
    font-weight: normal;
    font-style: normal;
}

h1{
    font-family: Love;
    font-weight: normal;

}

p{
    font-family: Love;
}