body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
    margin: 0px ;
}

header{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}

h1{
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 2px 1px 20px -5px rgba(0, 0, 0, 0.61);
}

nav{
    background-color: rgba(180, 179, 179, 0.774);
    padding: 3px;
    border-radius: 5px;
    box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.541);
}

nav > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}

.assuntos > p{
    display: inline;
    margin: 5px;
}
nav > a:hover{
    color: blue;
    text-decoration: underline;
}
main{
    border-radius: 8px;
    background-color: white;
    padding: 10px;
    margin: 10px;
}
article{
    background-color: lightblue;

}

article > aside{
    background-color:rgb(125, 192, 214) ;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px;
}
footer > p {
    margin: 0px;
}