body{
    background-color: darkgrey;
}
h1{
    background-color: lightgray;
    height: 100px;
    width: 400px;
    border: 10px solid darkcyan;
    padding: 10px 20px;
    margin: 40px auto;
    outline: 5px dashed salmon;
}

a{
    text-decoration: none;
    color: black;
    border-width: 5px;
    border-style: solid;
    border-color: red;
}

