div{
    display: inline-block;
    background-color: lightgray;
    text-align: center;
    height: 585px;
    width: 424px;
    border: 5px solid black;
}

div:hover{
    background-color: aqua;
}

div:active{
    background-color: red;
}
